<div id="category-filter-box" class="box a1 container ground" style="display:none">
    <form id="category-filter-form" class="box a1 container margin-top-10">
        <input type="text" name="name" class="mobile-box b8-9 input-generic center margin-top-5" placeholder="Nome da Categoria" autocomplete="off">
        <button type="submit" name="submit" class="mobile-box b9 input-generic noborder margin-top-5"><img class='size-20 icon pointer noselect' src="/images/icon/filter.png"></button>
    </form>
    <div id="category-filter-div" class="box b1 container margin-top-10"></div>
    <% include ./../partials/carousel %>
</div>