<form id="variation-create-form" class="box a1 container" style="display:none">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="category-id" value="">
    <input type="text" name="name" class="mobile-box b8-9 input-generic center margin-top-5" placeholder="" autocomplete="off">
    <button type="submit" name="submit" class="mobile-box b9 input-generic noborder margin-top-5"><img class='size-20 icon pointer noselect' src="/images/icon/increase.png"></button>
</form>