<form id="variation-filter-form" class="box a1 container">
    <input type="hidden" name="category-id" value="">
    <input type="text" name="name" class="mobile-box b7-8 input-generic center margin-top-5" placeholder="" autocomplete="off">
    <button type="submit" name="submit" class="mobile-box b9 input-generic noborder margin-top-5"><img class='size-20 icon pointer noselect' src="/images/icon/filter.png"></button>
    <div id="variation-filter-box" class="box a1 container ground margin-top-10">
        <div id="variation-filter-div" class="box b1 container"></div>
        <% include ./../partials/carousel %>
    </div>
</form>