<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<style type="text/css">
		.btn-act {
			background-color:#356ae6;
			color:#fff;
		}

		.btn-act:hover {
			background-color:#245ae5;
			color:#fff;
		}
	</style>
</head>
<body>
	<!-- <% include ./partials/header %> -->
	<section class="container">
		<div class="box a1 em15 bold lucida-grande padding-1 center noselect" style="background-color:#000;color:var(--strong)">Cotalogo</div>
	</section>
	<section class="container h-center margin-top-50">
		<div class="box b3-4 container h-center ground">
			<div class="box b1 em15 underline lucida-grande bold center margin-top-5">A forma simples e eficaz de mostrar os SEUS PRODUTOS!</div>
			<div class="box b1 margin-top-10">
				<p class="lucida-grande em12 center">A cotalogo, surgiu com a proposta de trazer aos pequenos empresários e autônomos, a possibilidade de expor seus produtos de forma otimizada e inteligente.</p>
			</div>
			<div class="mobile-box b2 lucida-grande center em12 radius-5 border padding-15 margin-top-10 pointer noselect btn-act" onclick="window.location.href='/signup'">Criar Catálogos agora</div>
		</div>
	</section>
</body>
<% include ./partials/footer %>
</html>