<div id="code-help" class="container image-fit msg-window h-center" style="display:none;">
  <div class="box a5-6 container ground padding-10 border margin-top-30">
    <div class="mobile-box a9-10"></div>
    <img class='mobile-box center size-20 margin-top-15 icon pointer' onclick="lib.display('code-help', 'none')" src="/images/icon/close.png">
    
    <div class="box a1 container h-center">
      <div class="box b2-3 em14 bold lucida-grande margin-top-10 noselect">Por que devo incluir um código em meus produtos?</div>
      <div class="box b2-3 em09 bold underline lucida-grande noselect">A melhor forma de organizar seus produtos quanto a busca de seus clientes</div>
      <div class="box b2-3 em14 bold lucida-grande margin-top-10 noselect"></div>
      <div class="box b2-3 em09 bold underline lucida-grande noselect"></div>
    </div>
    <div class="box a1 container h-center">
      <iframe class="box b2-3 height-350" src="https://www.youtube.com/embed/1PY2qXCL1H0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>