<div id="variation-help" class="box a1 container msg-window margin-top-30 h-center">
	<div class="box b5-6 ground container border-st padding-10 radius-10">
	    <div class="mobile-box a9-10"></div>
	    <img class='mobile-box center size-20 margin-top-15 icon pointer' onclick="lib.display('variation-help', 'none')" src="/images/icon/close.png">

	    <div class="box a1 container h-center">
	        <div class="box b2-3 em14 bold lucida-grande margin-top-10 noselect">O que são variações?</div>
	        <div class="box b2-3 em09 bold underline lucida-grande noselect">Variações são caracteristicas específicas que os produtos compartilham entre si mas que podem ser diferentes, as variações mais recorrentes dos produtos em geral são as cores e os tamanhos, porém em negócios mais específicos essas variações podem ser quase qualquer coisa, como por exemplo, em uma loja de carros poderíamos ter as categorias de variação do 'Ano', 'Câmbio' e 'Quilometragem' dos veículos, já em uma loja de roupas essas categorias poderiam ser o 'Tipo de Estampa' e 'Gênero' ou para um corretor de imóveis o 'Número de quartos' das casas. Você deve encontrar e configurar as variações específicas dos seus produtos.</div>
	        <div class="box b2-3 em14 bold lucida-grande margin-top-10 noselect">Para quê servem as variações?</div>
	        <div class="box b2-3 em09 bold lucida-grande noselect">Tenha em mente que apenas você conhece bem seus produtos, seus clientes na maioria das vezes estarão procurando por algo que gostam e é seu dever facilitar esse processo!</div>
	        <div class="box b2-3 em09 bold underline lucida-grande noselect">As categorias cadastradas ficarão disponíveis tanto para seleção no momento da criação dos seus produtos quanto nos filtros de busca que seus clientes utilizarão para encontrar o que desejam de forma muito mais rápida e organizada.</div>
	    </div>

	    <div class="box a1 container h-center">
	        <div class="box b2-3 em14 bold lucida-grande margin-top-10 noselect">O que são variações?</div>
	        <div class="box b2-3 em09 bold underline lucida-grande noselect">Variações são caracteristicas específicas que os produtos compartilham entre si mas que podem ser diferentes, as variações mais recorrentes dos produtos em geral são as cores e os tamanhos, porém em negócios mais específicos essas variações podem ser quase qualquer coisa, como por exemplo, em uma loja de carros poderíamos ter as categorias de variação do 'Ano', 'Câmbio' e 'Quilometragem' dos veículos, já em uma loja de roupas essas categorias poderiam ser o 'Tipo de Estampa' e 'Gênero' ou para um corretor de imóveis o 'Número de quartos' das casas. Você deve encontrar e configurar as variações específicas dos seus produtos.</div>
	        <div class="box b2-3 em14 bold lucida-grande margin-top-10 noselect">Para quê servem as variações?</div>
	        <div class="box b2-3 em09 bold lucida-grande noselect">Tenha em mente que apenas você conhece bem seus produtos, seus clientes na maioria das vezes estarão procurando por algo que gostam e é seu dever facilitar esse processo!</div>
	        <div class="box b2-3 em09 bold underline lucida-grande noselect">As categorias cadastradas ficarão disponíveis tanto para seleção no momento da criação dos seus produtos quanto nos filtros de busca que seus clientes utilizarão para encontrar o que desejam de forma muito mais rápida e organizada.</div>
	    </div>
	</div>
</div>