<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<section class="container" style="background-color:#000;color:var(--solid)">
		    <div class="mobile-box a1 em15 bold lucida-grande padding-3 center noselect pointer" onclick="window.location.href='/'">Cotalogo</div>
		</section>
		<div class="container h-center margin-top-30">
			<div class="box b2-3 ground h-center">
				<div class="box b1 lucida-grande bold center padding-10 margin-top-20 underline">Não foi possível encontrar a página que está procurando</div>
				<div class="box b1 lucida-grande em09 center padding-10"><a class="box b1" href="/">Retornar para página principal</a></div>
				<div class="box box b1 center padding-10"><img class="box b2 image-fit" src="images/404/main.png"></div>
			</div>
		</div>
	</body>
</html>