<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/userHeader %>
        <% include ./partials/nav %>
		<section class="container">
			
		</section>
        <% include ./partials/loader %>
	</body>
	<footer>
        <% include ./partials/footer %>
        <script src="/javascripts/scripts/product/model/main.js"></script>
		<script src="/javascripts/scripts/product/view/main.js"></script>
		<script src="/javascripts/scripts/product/controller/main.js"></script>

		<script src="/javascripts/scripts/product/model/price.js"></script>
        <script src="/javascripts/scripts/product/view/price.js"></script>
        <script src="/javascripts/scripts/product/controller/price.js"></script>
	</footer>
</html>