<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <style type="text/css">
        .btn-act {
            background-color:#356ae6;
            color:#fff;
        }

        .btn-act:hover {
            background-color:#245ae5;
            color:#fff;
        }

        .image-card { object-fit: contain; width: 100%; height: 200px; }
    </style>
</head>
<body>
    <% include ./partials/header %>
    
    <section class="container h-center margin-top-50 margin-bottom-50">
        <div class="box b3-4 container h-center ground padding-5">
            <div class="box b1 em15 underline lucida-grande bold center margin-top-5">Mostre sua empresa de forma mais PROFISSIONAL</div>
            <div class="box b1 margin-top-10">
                <div class="lucida-grande em11 center bold">Organize sua precificação</div>
                <div class="lucida-grande em11 center bold">com catálogos focados nos</div>
                <div class="box b1 lucida-grande em15 center bold">seus produtos</div>
            </div>
            <div class="mobile-box b2 lucida-grande center em12 bold radius-5 border padding-15 margin-top-10 pointer noselect btn-act" onclick="window.location.href = '/signup'">CRIAR MEU COTALOGO</div>
            <div class="mobile-box b1 lucida-grande center em09 margin-top-5 margin-bottom-10 pointer">Desejo entender melhor</div>
            <!-- <p class="lucida-grande em10 center">Conheça os pacotes personalizados da Cotalogo, crie promoções ou conjuntos e aumente suas vendas.</p>
            <p class="lucida-grande em10 center bold">Crie mais de 1 catálogo e exponha diferentes produtos ou os mesmos produtos com preços diferentes, ISSO É INCRÍVEL!</p>
            <p class="lucida-grande em10 center">Ganhe $10,00 em créditos para criar seus primeiros catálogos!</p> -->
        </div>

        <div class="box b3-4 container ground padding-5 margin-top-25">
            <div class='box b4 border container ground margin-top-10 padding-10 pointer shadow-2-hover'>
                <img class='box b1 image-fit' src='https://growth-mkt-blog-wp-uploads.s3.amazonaws.com/uploads/2019/12/post-blog-50-produtos-verao-p.png' alt=''/>
                <div class="box b1 avant-garde center padding-10 bold" style="color:#323232;">50 produtos + 2 Catálogos</div>
                <div class='box b1 container' >
                    <div class="box b1 em15 bold lucida-grande italic center" style='color:#467846;'>R$0,99</div>
                    <div class="box b1 bold center" style='color:#333;'>por dia</div>
                </div>
            </div>
            <div class='box b4 border container ground margin-top-10 padding-10 pointer shadow-2-hover'>
                <img class='box b1 image-fit' src='https://growth-mkt-blog-wp-uploads.s3.amazonaws.com/uploads/2019/12/post-blog-50-produtos-verao-p.png' alt=''/>
                <div class="box b1 avant-garde center padding-10 bold" style="color:#323232;">100 produtos + 3 Catálogos</div>
                <div class='box b1 container' >
                    <div class="box b1 em15 bold lucida-grande italic center" style='color:#467846;'>R$0,99</div>
                    <div class="box b1 bold center" style='color:#333;'>por dia</div>
                </div>
            </div>
            <div class='box b4 border container ground margin-top-10 padding-10 pointer shadow-2-hover'>
                <img class='box b1 image-fit' src='https://growth-mkt-blog-wp-uploads.s3.amazonaws.com/uploads/2019/12/post-blog-50-produtos-verao-p.png' alt=''/>
                <div class="box b1 avant-garde center padding-10 bold" style="color:#323232;">200 produtos + 4 Catálogos</div>
                <div class='box b1 container' >
                    <div class="box b1 em15 bold lucida-grande italic center" style='color:#467846;'>R$0,99</div>
                    <div class="box b1 bold center" style='color:#333;'>por dia</div>
                </div>
            </div>
            <div class='box b4 border container ground margin-top-10 padding-10 pointer shadow-2-hover'>
                <img class='box b1 image-fit' src='https://growth-mkt-blog-wp-uploads.s3.amazonaws.com/uploads/2019/12/post-blog-50-produtos-verao-p.png' alt=''/>
                <div class="box b1 avant-garde center padding-10 bold" style="color:#323232;">200 produtos + 4 Catálogos</div>
                <div class='box b1 container' >
                    <div class="box b1 em15 bold lucida-grande italic center" style='color:#467846;'>R$0,99</div>
                    <div class="box b1 bold center" style='color:#333;'>por dia</div>
                </div>
            </div>
        </div>
    </section>
</body>
<% include ./partials/footer %>
</html>