<html>
	<head>
        <% include ./../partials/head %>
        <style type="text/css">
	        .b6to3 { width: 15.66%; margin-left: 0.5%; margin-right: 0.5%; }
        	@media (max-width: 800px) {
	        	.b6to3 { width: 32.33%; margin-left: 0.5%; margin-right: 0.5%; }
			}
        </style>
	</head>
	<body>
    	<% include ./../partials/header %>
		<section class="container h-center">
			<div class='mobile-box b6to3 border ground margin-top-10 padding-10 pointer shadow-2-hover'>
                <div class="box b1 avant-garde center padding-10 bold noselect" style="color:#323232;">Bem vindo Henrique Lyra</div>
            </div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		</script>
	</footer>
</html>