<html>
	<head>
		<% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
		<section class="container h-center">
			<% if (message.length > 0) { %>
			    <div class="alert-msg"><%= message %></div>
			<% } %>
			<form action="/user/signup" class="box b3 container ground margin-top-15 padding-10" method="post">
				<div class="box b1 underline georgia margin-top-10 center">Cadastre suas informações e tenha 30 dias grátis para utilizar seus catálogos!</div>
				<input type="text" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" name="name" maxlength="60" autocomplete="off" placeholder="Nome Completo">
				<input type="text" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" name="name" maxlength="60" autocomplete="off" placeholder="Nome da Empresa">
				<input type="email" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" name="email" id="email" maxlength="60" autocomplete="off" placeholder="E-mail">
				<input type="password" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" name="password" maxlength="45" autocomplete="off" placeholder="Senha">
				<input type="password" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" name="confirmPassword" maxlength="45" autocomplete="off" placeholder="Confirmar senha">
				<button type="submit" class="box b1 submit-generic border-bottom margin-top-10">Cadastrar</button>
			</form>
		</section>
	</body>
	<footer>
		<% include ./../partials/footer %>
		<% include ./partial %>
	</footer>
</html>