<!-- <div class='copyright'>
    © Cotalogo 2021 - All Rights Reserved | .
</div> -->

<script defer src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/lib.js"></script>
<script defer src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/api.js"></script>

<!-- <script src="http://127.0.0.1:3000/front-end/javascripts/essentials/lib.js"></script>
<script src="http://127.0.0.1:3000/front-end/javascripts/essentials/api.js"></script> -->