<section class="container" style="background-color:#000;color:var(--solid)">
    <div class="mobile-box a5 center"></div>
    <div class="mobile-box a3-5 em15 bold lucida-grande padding-3 center noselect pointer" onclick="window.location.href='/'">Cotalogo</div>
    <div class="mobile-box b5 container">
        <div class="mobile-box container right padding-5">
        	<% if(!user){ %>
            	<div class="bold lucida-grande padding-3 margin-right-3 noselect pointer icon" style="color:#fff;" onclick="window.location.href = '/business'">Acessar</div>
        	<% } else { %>
            	<div class="bold lucida-grande padding-3 margin-right-3 noselect pointer icon" style="color:#fff;" onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/user/logout'}">Sair</div>
        	<% } %>
        </div>
    </div>
</section>