<div id="mySidenav" class="sidenav border">
  	<span class="closebtn pointer" onclick="closeNav()">&times;</span>
    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 georgia hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Meu Negócio</option>
	    <option value="/product/manage">Editar Home Page</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 georgia hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Produtos</option>
	    <option value="/product">Painel de Cadastro</option>
	    <option value="/product/color">Configurar Cores</option>
	    <option value="/product/size">Configurar Tamanhos</option>
	    <option value="/product/variation">Criar Variação</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 georgia hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Catálogos</option>
	    <option value="/feedstock/manage">Configurar</option>
	    <option value="/feedstock/manage">Atualizar Produtos</option>
	</select>
</div>

<div class="container">
	<div class="mobile-box right padding-10">
		<img class='icon size-45' src='/images/icon/menu.png' onclick="openNav()">
	</div>
</div>

<script>
	function openNav() { document.getElementById("mySidenav").style.width = "300px"; };
	function closeNav() { document.getElementById("mySidenav").style.width = "0"; };
</script>