<html>
<head>
<% include ./../partials/head %>
</head>
<body>
<% include ./../partials/header %>
<% include ./../partials/nav %>
<section class="container">
	<form id="feedstock-create-form" class="box b2 container ground border padding-10 margin-top-10">
		<div class="box b1 underline center">Cadastrar Matéria Prima</div>
		<input type="hidden" name="id" value="" autocomplete="off">
		<input type="number" name="code" min="1" max="9999" class="box b4 input-generic center margin-top-5" placeholder="Código" autocomplete="off">
		<input type="text" name="name" class="box b2 input-generic center margin-top-5" placeholder="Nome da matéria-prima" autocomplete="off" maxlength="20">
		<select name="color-id" class="box b4 input-generic center margin-top-5">
			<option value="">Cor</option>
			<% for(i in colors){ %>
			<option value="<%= colors[i].id %>"><%= colors[i].name %></option>
			<% } %>
		</select>
		<input type="number" name="unit" class="box b3 input-generic center margin-top-5" placeholder="Padrão" min="1" max="99999" autocomplete="off">
		<select name="uom" class="box b3 input-generic center margin-top-5">
			<option value="">Un de Medida</option>
			<option value="cm">Centímetros</option>
			<option value="un">Unidade</option>
		</select>
		<input type="submit" name="submit" class="box b3 submit-generic margin-top-5 center" value="Cadastrar">
	</form>

	<div class="box b2 container ground border padding-10 margin-top-10">
		<form id="feedstock-filter-form" class="box a1 container">
			<div class="box b1 underline center">Buscar Matéria Prima</div>
			<input type="text" name="code" class="box b5 input-generic margin-top-5 center" autocomplete="off" placeholder="Código">
			<input type="text" name="name" class="box b2-5 input-generic margin-top-5 center" autocomplete="off" placeholder="Nome do Produto">
			<select name="color-id" class="box b5 input-generic margin-top-5 center">
				<option value="">Cor</option>
				<% for(let i in colors){ %>
				<option value="<%= colors[i].id %>"><%= colors[i].name %></option>
				<% } %>
			</select>
			<input type="submit" name="submit" class="box b5 submit-generic margin-top-5 center" value="Buscar">
		</form>
		<div id="feedstock-filter-box" class="box a1 container" style="display:none">
		<div id="feedstock-filter-div" class="box a1 container"></div>
		<% include ./../partials/carousel %>
		</div>
		<div id="feedstock-show-box" class="box b1 container" style="display:none"></div>
	</div>
</section>
	<% include ./../partials/loader %>
</body>
<footer>
	<% include ./../partials/footer %>
	<% include ./partial %>
</footer>
</html>