<div class="box b1 padding-15 margin-top-5 border">
	<a href="/" class="lucida-grande em07 bold">Upload Image</a>
</div>
<div class="box b1 padding-15 margin-top-5 border">
	<a href="/files" class="lucida-grande em07 bold">Get Images</a>
</div>