<header class="container">
	<div class="mobile-box a6">
		<img class="opacity-out-09 size-100 padding-10 pointer" onclick="window.location.href='/'" src="/images/icon/cotalogo.png">
	</div>
	<div class="mobile-box right padding-10">
		<a><img class='icon size-40 padding-5' onclick="window.location.href='/login'" src="/images/icon/login.png"></a>
	</div>
</header>