<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
    	<% include ./../partials/userHeader %>
        <% include ./../partials/nav %>
		<section class="container">
            <form id="product-create-form" class="box b2 container border ground margin-top-10 padding-10 pointer">
            	<div class="box b1 underline center">Nova Cor</div>
                <input type="text" name="name" class="box b2 input-generic center margin-top-5" placeholder="Nome da Cor">
            </form>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		</script>
	</footer>
</html>