<html>
<head>
  <% include ./../partials/head %>
</head>
<body>
  <% include ./../partials/userHeader %>
  <% include ./help/code %>
  <% include ./../partials/nav %>
  <section class="container padding-10">
    <div class="box a1 container h-center">
      <div class="box b2 container border ground margin-top-10 padding-10 radius-10">
        <div class="box b1 container">
          <div class="mobile-box b10"></div>
          <div class="mobile-box b4-5 em12 lucida-grande bold center">Novo Produto</div>
          <div class="mobile-box b10 center"><img class="size-20 icon noselect" src="/images/icon/expand.png" onclick="lib.displayDiv('product-create-form', this, '/images/icon/expand.png', '/images/icon/retract.png');"></div>
        </div>
        <% include ./form/product-create %>
      </div>
    </div>

    <div class="box a1 container h-center">
      <div class="box b2 container ground border margin-top-10 padding-10 radius-10">
        <div class="box b1 container">
          <div class="mobile-box b10"></div>
          <div class="mobile-box b4-5 em12 lucida-grande bold center">Buscar Produto</div>
          <div class="mobile-box b10 center"><img class="size-20 icon noselect" src="/images/icon/expand.png" onclick="lib.displayDiv('product-filter-form', this, '/images/icon/expand.png', '/images/icon/retract.png');"></div>
        </div>
        <% include ./form/product-filter %>
      </div>
    </div>

  </section>
  <% include ./../partials/loader %>
  </body>
  <footer>
    <% include ./../partials/footer %>
    <% include ./partial %>
  </footer>
</html>