<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
    	<% include ./../partials/userHeader %>
        <% include ./help/variation %>
        <% include ./../partials/nav %>
		<section class="container">
            <div class="box b2 container border-explicit ground margin-top-10 padding-10">
                <% include ./form/category-create %>
                <div class="box a1 container border ground margin-top-10 padding-10">
                    <div class="box b1 container">
                      <div class="mobile-box b10"></div>
                      <div class="mobile-box b4-5 em12 lucida-grande bold center">Buscar Categorias</div>
                      <div class="mobile-box b10 center"><img class="size-20 icon noselect" src="/images/icon/expand.png" onclick="lib.displayDiv('category-filter-box', this, '/images/icon/expand.png', '/images/icon/retract.png');"></div>
                    </div>
                    <% include ./form/category-filter %>
                </div>
            </div>

            <div id="category-show-box" class="box b2 container border-explicit ground margin-top-10 padding-10" style="display:none">
                <div class="box b1 border padding-10 margin-top-10">
                    <div id="category-create-title" class="box b1 container lucida-grande bold center"></div>
                    <% include ./form/variation-create %>
                </div>
                <div class="box b1 border padding-10 margin-top-10">
                    <div id="category-filter-title" class="box b1 container lucida-grande bold center"></div>
                    <% include ./form/variation-filter %>
                </div>
            </div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <script src="/javascripts/scripts/product/model/category.js"></script>
        <script src="/javascripts/scripts/product/view/category.js"></script>
        <script src="/javascripts/scripts/product/controller/category.js"></script>

        <script src="/javascripts/scripts/product/model/variation.js"></script>
        <script src="/javascripts/scripts/product/view/variation.js"></script>
        <script src="/javascripts/scripts/product/controller/variation.js"></script>
	</footer>
</html>