<html>
	<head>
		<% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
		<section class="container h-center margin-top-15 lucida-grande">
			<div class="box b2-3 ground margin-top-15 padding-15">
				<div class="box b1 lucida-grande bold center"><%= msg %></div>
				<div class="box b1 lucida-grande em09 center margin-top-15"><a class="box b1" href="/">Retornar para página principal</a></div>
			</div>
		</section>
	</body>
	<footer>
		<% include ./../partials/footer %>
		<% include ./partial %>
	</footer>
</html>